.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {

  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
html, body{width: 100%; padding: 0; margin: 0}
#Outer{position: absolute; padding: 1em; border: 1px solid #000}
.NavBar {
    background: greenyellow;
    top: 0%;
    width: 100%;
    bottom: 95%;
}

.MainBody {
    background: rgb(253, 247, 228);
    position: sticky;
    top: 5%;
    width: 100%;
    overflow: visible;
}

.logo {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    bottom: 5px;
}

.userDropdown {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    right: 0%;
    left: 86%;
    top: -25px;

}
.Threads {
    position: relative;
    margin: auto;
    width:40%;
}

#Post {

    list-style: none;
    border: 3px solid #73AD21;
    font-family: 'Times New Roman', Times, serif;
    word-wrap: break-word;
}

#Title {
    font-size: xx-large;
}

#Media {
    width: 20%;
    height: 20%;
    margin: auto;
}

table {
    position: fixed;
    bottom: 85.5%;
    left: 10%;
    width: 300px;
    border: 3px solid #73AD21;
  }

  tr {
    text-align: center;
  }